SNOWFLAKE_ACCOUNT=LVSAHNU-PR54555
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=ECOMM_DATA_LAKE
SNOWFLAKE_SCHEMA=CONFORMED
LLM_MODEL=gpt-4o-mini
LLM_API_KEY=
GIT_COMMIT_SHA=dev
